$color1: #1B53EE;
$color2: #16C08D;
$color3: #DDA924;
$color4: #FAE2DF;
$color5: #FFF2CC;
$color6: #C4C4C4;

$background-color: #F8F8F8;

$text-color1: #051131;
$text-color2: #BAB6B6;
$text-color2: #EFEFEF;
$text-color3: #BAB6B6;
$text-color4: gray;

$text-size-menu: 13px;
$text-size-session: 16px;
$text-size-text: 20px;
$text-size-subtitle: 20px;
$text-size-subtitle-2: 30px;
$text-size-title: 46px;

$text-font-1: "Montserrat", arial, helvetica, sans-serif;
$text-font-2: "Montserrat Alternates", arial, helvetica, sans-serif;