$color1: #1B53EE;
$color2: #16C08D;
$color3: #DDA924;
$color4: #FAE2DF;

$background-color: #F8F8F8;

$text-color1: #051131;
$text-color2: #BAB6B6;
$text-color2: #EFEFEF;

$text-size-menu: 13px;
$text-size-session: 16px;