@import "custom-variables";
*{
    box-sizing: border-box;
}

html,body{
    color: $text-color1;
    margin: 0;
    padding: 0;
    background: $background-color;
    font-family: $text-font-1;
}

.button,.button-small{
    display: inline-block;
    width: 175px;
    height: 77px;
    line-height: 77px;
    color: $text-color2;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: $color1;
    text-align: center;
}

.button-small{
    height: 37px;
    line-height: 37px;
}

header{
    padding-top: 30px;
    max-width: 1900px !important;
    letter-spacing: 1px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    h1{
        background: url(/images/branding.svg);
        width: 152px;
        height: 49px;
        background-size: contain;
        text-indent: -230px;
        overflow: hidden;
    }

    nav{
        margin-top: 15px;
        a{
            margin-right: 10px;
            font-size: $text-size-menu;
            font-weight: 600;
        }
    }
    .session-bar{
        font-size: $text-size-session;
        font-weight: 600;
        .register-text{
            background: $color1;
            color: $text-color2;
            width: 175px;
            display: inline-block;
            margin-left: 15px;
            height: 114px;
            padding-top: 45px;
            position: relative;
            top: -30px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .enter{
            position: relative;
            top: -30px;
        }
    }
    &.small{
        padding-top: 10px;
        h1{
            width: 96px;
            height: 31px;
        }
        background: rgb(255,255,255);
        background: -moz-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
        background: -webkit-linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
        height: 90px;
        .session-bar{
            font-size: $text-size-menu;
        }
        .register-text{
            height: 74px;
            padding-top: 35px;
            
        }
        nav{
            margin-top: 3px;
            
        }
    }
}
.fixed-block.fixed{
    position: fixed;
    top: 120px;
    left: 0;
    z-index: 4;
}

.big-container{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    font-family: $text-font-2;
    font-weight: 900;
    font-size: $text-size-title;
}

section{
    min-height: 100vh;
    &.hero{
        padding-top: 100px;
        h1{
            color: $color1;
        }
        .main-image{
            position: absolute;
            bottom: 100px;
            right: 100px;
        }
        .content-section{
            margin-top: 100px;
            max-width: 580px;
            .push{
                max-width: 400px;
            }
            .login-box{
                margin-top: 40px;
                color: $text-color3;
                p{
                    font-size: $text-size-menu;
                }
                a{
                    display: inline-block;
                    width: 175px;
                    height: 77px;
                    line-height: 77px;
                    color: $text-color2;
                    border-top-left-radius: 20px;
                    border-bottom-right-radius: 20px;

                    &.start-educator{
                        background: $color1;
                        margin-right: 20px;
                    }
                    &.start-student{
                        background: $color2;
                    }
                }
            }
        }
    }

    &.skills{
        min-height: auto;
        background: $text-color2;
        padding-top: 50px;
        padding-bottom: 50px;
        article{
            display: inline-block;
            width: 30%;
            h2{
                color: $color1;
                font-size: $text-size-subtitle;
                font-weight: bold;
                .icon{
                    font-size: 60px;
                    margin-bottom: 10px;
                }
            }
            p{
                max-width: 300px;
                margin: auto;
                margin-top: 30px;
            }
        }
    }

    &.features{
        background: $color2;
        color: $text-color2;
        padding-top: 120px;
        padding-bottom: 120px;
        h2{
            font-family: $text-font-2;
            font-weight: 900;
            font-size: $text-size-title;
            margin-bottom: 50px;
        }
        .features-container{
            position: relative;
        }
        article{
            h3{
                font-family: $text-font-2;
                font-size: $text-size-subtitle-2;
            }
            p{
                font-size: $text-size-text;
            }
            margin-bottom: 30px;
            margin-bottom: 50px;
        }
        .line{
            height: 200px;
            width: 1px;
            border-left: 2px solid $color4;
            position: absolute;
        }
    }

    &.educators{
        z-index: 5;
        position: relative;
        background: white;
        .main-image{
            position: absolute;
            top: 0;
            right: 0;
        }
        h2{
            padding-top: 120px;
            font-family: $text-font-2;
            font-weight: 900;
            font-size: $text-size-title;
            margin-bottom: 50px;
            color: $color1;
        }
        .container{
            position: relative;
            p{
                max-width: 500px;
            }
        }
        .button{
            margin-top: 50px;
        }
    }

    &.learn{
        z-index: 5;
        background: $color5;
        h2{
            padding-top: 120px;
            font-family: $text-font-2;
            font-weight: 900;
            font-size: $text-size-title;
            margin-bottom: 50px;
            color: $color2;
        }
        .button{
            background-color: $color2;
            margin-top: 50px;
        }
        .container{
            position: relative;
            p{
                max-width: 500px;
            }
        }
    }
}


footer{
    z-index: 5;
    position: relative;
    background: $color6;
    padding-top: 50px;
    padding-bottom: 80px;
    .footer-branding{
        width: 100px;
    }
    .session-footer{
        
        .button-small{
            margin-bottom: 10px;
        }
        .button-small-register{
            background: $color2;
        }
    }

    .footer-links{
        margin-top: 97px;
    }
}